* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px 0px;
  width: 55%;
  
}

nav img {
  width: 135px;

}

nav a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  margin-left: 10px;
  
}

nav a:hover {
  color: #0ab1ef;
}
.btn {
  position: relative;
  width: 120px;
  height: 50px;
  border: 2px solid red;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 50px;
  left: 700px;
  background-color: white;
  transition: 0.6s ease;
}

.btn:hover {
  background-color: #0ab1ef;
  transform: scale(1.1);
}
/* END NAV */

.sec-one {
  background: url(/sectioan1/baclground.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 110vh;
  position: relative;
}

.part-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  margin: auto;
}

.text-one {
  position: absolute;
  width: 50%;
  padding-top: 320px;
  padding-left: 100px;
  margin-right: 10%;
}

.text-one h3 {
  font-size: 55px;
  color: #637279;
  font-weight: 590;
}

.text-one span {
  font-size: 55px;
  color: #7a3d8a;
  font-weight: 600;
}

.text-one p {
  color: #afafaf;
  font-size: 30px;
  font-weight: 380px;
  margin-top: 20px;
}

/* ***********div photo **********/

.divImgs {
  width: 68%;
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  left: 80%;
  margin-top: 70px;
}
.divImgs .background {
  width: 100%;
}
.divImgs .man {
  position: absolute;
  width: 45%;
  left: 22%;
  top: 0%;
}
.divImgs .cloud {
  position: absolute;
  width: 60%;
  left: 20%;
  top: 60%;
}
.waves {
  position: absolute;
  width: 90%;
  top: 70%;
  right: 20%;
}

/********** End Nav********* */

/* ********section-Two******* */

.sec-two {
  display: felx;
  justify-content: center;
}

.alldiv {
  position: relative;
  text-align: center;
  padding: 0px 120px;
  height: 120vh;
}

.background2 {
  position: absolute;
  width: 65%;
  height: 60%;
  left: 22%;
  top: 10%;
}

.dlivery {
  position: absolute;
  top: 19%;
  left: 5%;
}

.dlivery img {
  width: 200px;
}

.time {
  position: absolute;
  left: 35%;
  top: 30%;
}

.Discounts {
  position: absolute;
  left: 56%;
  bottom: 0%;
}

.alldiv h3 {
  color:   #999;
  font-size: 30px;

}

.sec-two .alldiv p {
  color: #969aa5;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
}

.why-choose {
  position: absolute;
  top: 55%;
  left: 6%;
  text-align: center;
}
.last img {
  width: 500px;
}

.text-two {
  width: 450px;
}

/* <!-- end section-2 --> */

/* ***section 3*** */
.sec-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;


}


h1 h2, h3, p{
  text-transform: capitalize;

}

.image3 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300x;
  align-items: flex-end;

}

.image3 i {
  color: #7a3d8a;
  font-size: 30px;
  text-align: center;

}

.sec-3 h3 {
  width: fit-content;
  text-align: center;
  color:#637279;

}

.sec-3 p {
  width: 300px;
  text-align: center;
  color: #4e4f53;
  line-height: 30px

}


/************ footer******* */
footer{
  position: relative;
  height: 80vh;
  overflow: hidden;

}

  .footer-background{
    position: absolute;
    width: 110%;
    height: 150%;
    left: -3%;
    top:20px

}

.divall3{
 
  padding-left: 50px;
  width: 50%;
}

.logoall{
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 350px;
  bottom:90px;
  
}

  .logo3{
    display: flex;
    justify-content: space-between;
    width: 150px;
    text-align: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding:10px;
    margin-bottom: 50px;
    opacity: 90%;
    color: #2c2828;
  }

  .icon-3{
    position: absolute;
    display: flex;
    width: 35px;
    height: 30px;
    bottom:90px;
    

  }
  .icon-3 i{
    color: rgb(255, 255, 255);
    padding: 10px ;
    font-size: 30px;
    margin-bottom: 40px;
    
    
  }

footer{
  position: relative;
}

  .women{
    position: absolute;
    display: flex;
    
    width:650px ;
    right: 120px;
    top: 220px;
    z-index: 200;
  }





  .link-footer{
    position: absolute;
    display: flex;
    z-index: 600;
    padding-top: 75px;
   
  }


.link-footer ul{
  list-style-type: none;
  display: flex;

}

.link-footer a{
  text-decoration: none;
  display: flex;
  margin-right: 10px;
  width: 110px;
  color: white;
 
}
.link-footer a:hover{
  color: #7a45a0;
}
